body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.levelVal {
  position: relative;
}

.levelValLabel {
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  position: absolute;
  left: 0px;
  height: 100%;
}

.levelRow {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}

section {
	background-color: #DDD;
	display: flex-box;
  margin: 5px 10px;
  border-radius: 6px;
  padding: 5px 10px;
}

article {
	overflow: hidden;
  /*position: relative;*/
}

.hidden {
  height: 0;
}

.shown {
  height: auto;
}

.solutionBar {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.revealSolution {
  position: absolute;
  right: 0;
  height: 10px;
  width: 10px;
}

.line {
  padding: 0px;
  margin: 0px;
  height: 2px;
  background-color: rgba(0,0,0,.6);
  line-height: 1px;
  position: absolute;
}
