<! DOCTYPE HTML>
<html ng-app="levelApp">
	<head>
    <meta charset="UTF-8">
    <title>Level Map</title>
    <link href="css/button.min.css" rel="stylesheet" type="text/css" />
    <link href="css/icon.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-local-storage.js" type="text/javascript"></script>
    <script src="js/level-map-controller.js" type="text/javascript"></script>
	</head>

  <body ng-controller="LevelMapController as ctrl">
    <h1>Level Map</h1>

    <nav>
      <button class="ui tiny basic button" ng-click="ctrl.edit = !ctrl.edit">
        <span ng-if="!ctrl.edit">Edit</span>
        <span ng-if="ctrl.edit">Stop Editing</span>
      </button>
    </nav>

    <div class="levelVal" ng-repeat="levels in ctrl.levels">
      <div class="levelValLabel">{{$index + 1}}</div>
      <div class="levelRow">
        <levelinfo ng-repeat="leveldata in levels" level="leveldata" edit="ctrl.edit"></levelinfo>
        <button class="ui icon green button center" ng-show="ctrl.edit" ng-click="ctrl.addLevel($index)">
          <i class="add icon"></i>
        </button>
      </div>
    </div>
    <div class="levelVal" ng-show="ctrl.edit">
      <div class="center">
        <button class="ui green button center" ng-click="ctrl.addLevelVal()">
          <i class="add icon"></i>Add Row
        </button>
      </div>
    </div>

    <div ng-repeat="(levelValue, levels) in ctrl.levels">
        <div ng-repeat="leveldata in levels">
          <levelconnector ng-repeat="parent in leveldata.parents" child="{{leveldata.url}}" parent="{{parent}}"></levelconnector>
        </div>
    </div>

  </body>
</html>
