<! DOCTYPE HTML>
<html ng-app="levelApp">
	<head>
    <meta charset="UTF-8">
    <title>Level Map</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-local-storage.js" type="text/javascript"></script>
    <script src="js/level-map-controller.js" type="text/javascript"></script>
	</head>

  <body ng-controller="LevelMapController as ctrl">
    <h1>Level Map</h1>

    <div class="levelVal" ng-repeat="(levelValue, levels) in ctrl.levels">
      <div class="levelValLabel">{{levelValue}}</div>

      <div class="levelRow">
        <levelinfo ng-repeat="leveldata in levels" level="leveldata"></levelinfo>
      </div>

    </div>

    <div ng-repeat="(levelValue, levels) in ctrl.levels">
        <div ng-repeat="leveldata in levels">
          <levelconnector ng-repeat="parent in leveldata.parents" child="{{leveldata.url}}" parent="{{parent}}"></levelconnector>
        </div>
    </div>

  </body>
</html>
